@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800&display=swap");
:root {
  --font-body: "Roboto", sans-serif;
  --font-title: "Spartan", sans-serif;
}

body {
  background-color: #fff;  
  font-family: var(--font-body) !important; 
}

[data-theme="dark"] body {
  background-color: #000;
}

a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0;
}
a {
  color: #2962ff;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  color: #2962ff;
}

.fashion:hover,.food:hover,.technology:hover,.travel:hover {
  color: #fff !important;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.4;
  font-family: var(--font-title);
  font-weight: 700;
}

[data-theme="dark"] h2, [data-theme="dark"] h4 {
  color: #fff;
}
/*==============================
// rt-header
==============================*/
.rt-header {
  position: relative;
  z-index: 9;
  background-color: #fff;
}
[data-theme="dark"] .rt-header {
  position: relative;
  z-index: 9;
  background-color: #000;
}
@media (max-width: 991px) {
  .rt-header {
    display: none;
  }
}
.navbar-wrap {
  background-color: #fff;
}
[data-theme="dark"] .navbar-wrap {
  background-color: #000;
}
.sticky .navbar-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.16);
  z-index: 99;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
[data-theme="dark"] .sticky .navbar-wrap {
  background-color: #171818 !important;
}
.site-branding a {
  display: table-cell;
  vertical-align: middle;
}
.site-branding .light-logo {
  display: none;
}
[data-theme="dark"] .site-branding .light-logo {
  display: table-cell;
}
[data-theme="dark"] .site-branding .dark-logo {
  display: none;
}
.main-menu__nav ul li {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-right: 17px;
}
.main-menu__nav ul li.active > a {
  color: #2962ff;
}
[data-theme="dark"] .main-menu__nav ul li.active > a {
  color: #2962ff !important;
}
.main-menu__nav ul li:last-child {
  margin-right: 0;
}
@media (max-width: 1199px) {
  .main-menu__nav ul li:last-child:hover .main-menu__dropdown {
    right: 0;
    left: auto;
  }
}
.main-menu__nav ul li:hover .main-menu__dropdown {
  opacity: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.main-menu__nav ul li > a {
  font-size: 0.9375rem;
  color: #000;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 39px 6px;
}
[data-theme="dark"] .main-menu__nav .main-menu__nav_sub .animation {
  font-size: 0.9375rem;
  color: #fff;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 39px 6px;
}
.main-menu__nav ul li > a::before {
  position: absolute;
  content: "";
  height: 4px;
  background: #2962ff;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.4s cubic-bezier(0.51, 0.92, 0.24, 1),
    -webkit-transform 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
}
.main-menu__nav ul li:hover > a {
  color: #2962ff;
}
.main-menu__nav ul li:hover > a::before {
  background: #2962ff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.main-menu__nav ul li ul {
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
  transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 15px 0;
  border-radius: 0 0 5px 5px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}
.main-menu__nav ul li ul li {
  display: block;
  padding: 0 10px;
  margin: 0;
}
.main-menu__nav ul li ul li.menu-drop-icon > a {
  position: relative;
}
.main-menu__nav ul li ul li ul {
  left: 100%;
  top: 0;
}
.main-menu__nav ul li ul li a {
  display: block;
  padding: 8px 10px;
  color: #656567;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
}
.header-main-style-5 .main-menu__nav ul li ul li a {
  padding: 8px 10px;
}
.main-menu__nav ul li ul li a::after {
  float: right;
}
.main-menu__nav ul li ul li a::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  background: #2962ff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.main-menu__nav ul li ul li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.main-menu__nav ul li ul li:hover a::before {
  height: 11px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.main-menu__nav_sub > a::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  vertical-align: middle;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  display: inline-block;
  padding-left: 6px;
  font-size: 12px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.main-menu__nav_sub:hover > a::after {
  -webkit-transform: rotate(180deg) translateX(-6px);
  transform: rotate(180deg) translateX(-6px);
}
.header-action-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-action-items .item {
  margin-right: 16px;
}
.header-action-items .item:last-child {
  margin-right: 0;
}
.header-action-items .item a {
  color: #818181;
  font-size: 1.25rem;
}
.header-main-style-9 .header-action-items .item a {
  color: #b8b8b8;
}
.header-action-items .item a:hover {
  color: #2962ff;
}
.header-action-items .item.cart-icon {
  margin-right: 28px;
}
.header-action-items .item.cart-icon a {
  position: relative;
}
.header-action-items .item.cart-icon a .item-count {
  position: absolute;
  right: -12px;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2962ff;
  color: #fff;
  font-size: 0.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
[data-theme="dark"] .header-action-items .item a {
  color: #fff;
}
[data-theme="dark"] .header-action-items .item.cart-icon a .item-count {
  color: #fff;
  background-color: #2962ff;
}
.humburger {
  position: relative;
  z-index: 4;
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
}

@media (min-width:992px) and (max-width:1125px) {
  .main_heading_logo_1 {
    padding-top: 7px !important;
    font-size: large !important;
    max-height: 25px !important;
  }
}

@media (max-width:500px) {
  .main_heading_logo_1 {
    padding-top: 7px !important;
    font-size: large !important;
  }
  #search_box {
    width: 75px !important;
  }
  .main_heading_logo_1,
  .main_heading_logo_2{
    font-size: small !important;
  }
}

@media (max-width:375px) {
  #search_box {
    width: 55px !important;
  }
}

.rt-mobile-header .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  display: none !important;
}
.rt-mobile-header .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  margin-right: 0 !important;
}
/*=====================================
//  Mobile menu
======================================*/
.offscreen-navigation .menu > li {
  border-bottom: 1px solid #e9e9e9;
}
[data-theme="dark"]
  .offcanvas-content-style-2
  .offscreen-navigation
  .menu
  > li {
  border-color: #222121;
}
.offscreen-navigation .menu > li:last-child {
  border-bottom: 0;
}
.offscreen-navigation .menu > li > a {
  background-color: #f3f3f3;
  font-size: 16px;
  padding: 12px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.offcanvas-content-style-2 .offscreen-navigation .menu > li > a {
  background-color: transparent;
  padding: 12px 0;
}
[data-theme="dark"]
  .offcanvas-content-style-2
  .offscreen-navigation
  .menu
  > li
  > a {
  color: #fff;
}
[data-theme="dark"]
  .offcanvas-content-style-2
  .offscreen-navigation
  .menu
  > li
  > a:hover {
  background: transparent;
}
.offscreen-navigation .menu > li > a:hover {
  background-color: #f8f8f8;
}
.offscreen-navigation .menu > li > a.opened {
  background-color: #f8f8f8;
}
[data-theme="dark"] .offscreen-navigation .menu > li > a.opened {
  background: transparent;
}
[data-theme="dark"]
  .offcanvas-content-style-2
  .offscreen-navigation
  .menu
  > li
  > a.opened {
  background-color: transparent;
}
.offscreen-navigation .sub-menu {
  display: none;
  background-color: #ffffff;
}
[data-theme="dark"] .offcanvas-content-style-2 .offscreen-navigation .sub-menu {
  background: #171818;
}
.offscreen-navigation .sub-menu li.menu-item-has-children > a::after,
.offscreen-navigation .sub-menu li.menu-item-has-children > a::before {
  right: 40px;
}
.offscreen-navigation .sub-menu li a {
  border-top: 1px solid #f1f1f1;
  padding: 7px 40px;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[data-theme="dark"]
  .offcanvas-content-style-2
  .offscreen-navigation
  .sub-menu
  li
  a {
  border-color: #222121;
}
.offcanvas-content-style-2 .offscreen-navigation .sub-menu li a {
  padding-left: 30px;
}
.offscreen-navigation .sub-menu li a:hover {
  background-color: rgba(41, 98, 255, 0.05);
}
[data-theme="dark"]
  .offcanvas-content-style-2
  .offscreen-navigation
  .sub-menu
  li
  a {
  color: #fff;
}
.offscreen-navigation .sub-menu li .sub-menu li a {
  padding: 7px 50px;
}
.offscreen-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.offscreen-navigation ul li > a {
  display: block;
  position: relative;
  color: #000000;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.offscreen-navigation ul li > a:hover {
  color: #2962ff;
}
.offscreen-navigation ul li.menu-item-has-children > a:after {
  color: #999999;
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  right: 20px;
  position: absolute;
  font-size: 12px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.offscreen-navigation ul li.menu-item-has-children > a:before {
  color: #999999;
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  right: 20px;
  position: absolute;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.offscreen-navigation ul li.menu-item-has-children > a.opened:after {
  opacity: 0;
  visibility: hidden;
}
.offscreen-navigation ul li.menu-item-has-children > a.opened:before {
  opacity: 1;
  visibility: visible;
}

.rt-slide-nav {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  display: none;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  -webkit-box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.2);
  top: 100%;
  z-index: 99;
}

.rt-mobile-header {
  position: relative;
  z-index: 999;
}
@media (min-width: 992px) {
  .rt-mobile-header {
    display: none;
  }
}

.mobile-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 15px;
  border-bottom: 1px solid rgba(81, 81, 81, 0.15);
}
.mobile-menu-bar .logo img {
  max-width: 120px;
}
[data-theme="dark"] .mobile-menu-bar {
  background: #fff;
}

.mobile-sticky .mobile-menu-bar-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.16);
  z-index: 99;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.mobile-sticky .mobile-menu-bar-wrap.header-main-style-7 {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.98);
}
[data-theme="dark"] .mobile-sticky .mobile-menu-bar-wrap {
  background-color: #171818;
}

body .sidebarBtn {
  display: block;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .sidebarBtn .bar {
  background: #000000;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .sidebarBtn .bar:nth-child(2),
body .sidebarBtn .bar:nth-child(3) {
  width: 25px;
  margin-left: 5px;
}
body .sidebarBtn .bar:last-child {
  margin-bottom: 0;
}

@media (max-width:570px) {
  .btn-outline-success,.btn-outline-primary,.form-control {
    padding: 4px;
    font-size: 14px;
  }
  .mobile_form {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Login Button */

@media (min-width:992px) and (max-width:1250px){
  #navbar-wrap .container {
    max-width:100%
  }
  input[type="search"] {
    width: 130px !important; 
  }
  .main-menu__nav ul li {
    margin-right: 2px !important;
  }
}

/* --------------
theme-switch-box 
--------------- */
.theme-switch-box-wrap {
  position: fixed;
  right: 12px;
  top: 320px;
  z-index: 100;
}
.theme-switch-box {
  display: -ms-grid;
  display: grid;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #3243d4;
  padding: 8px 6px;
  border-radius: 1.5rem;
}
[data-theme="dark"] .theme-switch-box {
  background: #d8d8d8;
}
.theme-switch-box__theme-status {
  color: #fff;
  line-height: 1;
  text-align: center;
}
[data-theme="dark"] .theme-switch-box__theme-status {
  color: #000;
  line-height: 1;
  text-align: center;
}
.theme-switch-box__label {
  width: 18px;
  height: 36px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  border-radius: 1.5rem;
  overflow: hidden;
}
.theme-switch-box__main {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  border-radius: 1.5rem;
}
.theme-switch-box__main::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(3px);
  transform: translateX(-50%) translateY(3px);
  border-radius: 100%;
  -webkit-transition: 1s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: 1s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  border-radius: 1.5rem;
}
.theme-switch-box__input {
  display: none;
}
.theme-switch-box__input:checked + .theme-switch-box__main::before {
  top: 17px;
  -webkit-transition: 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*======================
// back-to-top
========================*/
#back-to-top {
  font-size: 1rem;
  color: #fff;
  background: #3243d4;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  display: none;
  cursor: pointer;
  overflow: hidden;
}
#back-to-top:hover {
  color: #fff;
  background: #0034c2;
}
#back-to-top:hover i {
  -webkit-animation: toBottomFromTop 0.5s forwards;
  animation: toBottomFromTop 0.5s forwards;
}
[data-theme="dark"] #back-to-top {
  color: #fff;
}
@keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}